@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
  font-family: 'Itim', cursive, 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: #616c84;
  background: #ffffff;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
  width: auto;
}

button {
  width: 200px;
  height: 60px;
  background-color:white;
  border-radius: 10px;
  margin: 10px auto;
}

button#btnMsg {
  border: 3px solid skyblue;
  color: skyblue;
}

button#btnClose{
  border: 3px solid red;
  color: red;
}

p {
  text-align: center;
}

#displayName {
  margin: 20px auto 5px auto;
}

#statusMessage {
  margin: 0 auto 10px 0;
}

.pictureUrl {
  display: block;
  margin: 0 auto;
  width: 40%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

#accessToken, #utouId {
  display: block;
  overflow: auto
}

article{
  width: 300px;
  height: 200px;
  background: #f2f2f2;

  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -ms-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -moz-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  }

.pieces{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -ms-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -moz-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  perspective: 1000;
  }

#piece-1{
  top: 0;
  left: 0;
  background: url('../assets/3x3no1/3x3no1_01.jpg');
  background-size: cover;
  }

#piece-2{
  top: 0;
  left: 100px;
  background: url('../assets/3x3no1/3x3no1_02.jpg');
  background-size: cover;
  }

#piece-3{
  top: 0;
  left: 200px;
  background: url('../assets/3x3no1/3x3no1_03.jpg');
  background-size: cover;
  }

#piece-4{
  top: 100px;
  left: 0;
  background: url('../assets/3x3no1/3x3no1_04.jpg');
  background-size: cover;
  }

#piece-5{
  top: 100px;
  left: 100px;
  background: url('../assets/3x3no1/3x3no1_05.jpg');
  background-size: cover;
  }

#piece-6{
  top: 100px;
  left: 200px;
  background: url('../assets/3x3no1/3x3no1_06.jpg');
  background-size: cover;
  }


#piece-7{
  top: 200px;
  left: 0;
  background: url('../assets/3x3no1/3x3no1_07.jpg');
  background-size: cover;
}

#piece-8{
  top: 200px;
  left: 100px;
  background: url('../assets/3x3no1/3x3no1_08.jpg');
  background-size: cover;
}

#piece-9{
  top: 200px;
  left: 200px;
  background: url('../assets/3x3no1/3x3no1_09.jpg');
  background-size: cover;
}

.glow{
  z-index: 101;
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
    box-shadow: 0px 0px 6px 0px #000000;
    transform: scale(1.1);
  }

@-webkit-keyframes animate-guage {
  0%   { transform: scale(1.04); }
  50%   { transform: scale(1.06); }
  100%  { transform: scale(1.04); }
  }

.glow-2{ -webkit-transform: rotateX(360deg); }

@-webkit-keyframes animate-guage-2 {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.02); }
  100%  { transform: scale(1); }
  }

.align-center{
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}

.align-right{
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1111;
}

li {
  float: left;
}

li{
  display: block;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
}

.bg-dashboard {
 background-color: #FFC300;
}

#title-dashboard{
  background-color: #FFFFFF;
  text-align: center;
  border-bottom: 5px solid #dbdbdb;
}

.bg-white{
  background-color: #ffffff;
}

hr{
  margin: 0;
}

.first {
  color: #000000;
  padding-top: 20px;
  padding-bottom: 10px;
}

.other{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 10px;
}

.black {
  color: #000;
}

.ready-title{
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 8rem;
}

.round-title{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 6rem;
}

.btn-ctrl h1{
  font-size: 4rem!important;
}

.glow-on-hover {
  width: 320px;
  height: 160px;
  border: none;
  outline: none;
  color: #111 ;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 50px;
}

.first-page {
  background-color: #8449c6;
  color: #fff;
  height: 100vh;
}

.game-title{
  font-size: 3rem;
  color: #000;
  background-color: #ffffff;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}

.animate-flicker {
  font-size: 2rem;
  animation: fadeIn 1s infinite alternate;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  border-radius: 50px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.game-page {
  background-color: #45a2e5;
  color: #000;
  height: 100vh;
  padding: 0!important;
}

.game-page .user-score{
  background-color: #fff;
  color: #000;
  padding: 10px 0;
}

.pic {
  width: 30px;
}

.game-page .user-score h3 {
  display: inline;
}

.time-move-title .col {
  color: #000;
  background-color: #fff;
  font-size: 1.2rem;
  margin: 0 4px;
}

.time-move-score .col {
  padding-top: 10px;
  font-size: 1.5rem;
  color: #fff;
}

.blank-col {
  background-color: #45a2e5!important;
}

.game {
  margin-top: 50px;
}

.game article {
  margin: 0 auto;
}

.score {
  margin-top: 50px!important;
}

.user {
  padding: 0!important;
}

.game-page .user-score {
  --bs-gutter-x: initial!important;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay .card {
  z-index: 3;
}

#overlay .container {
  margin-top: 100px;
}