<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Path</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id="app" class="bg-dashboard container-fluid px-0">
    <div id="title-dashboard" class="box-shadow container-fluid py-4">
      <h1 class="black">SCORE FINAL ROUND</h1>
    </div>
    <div class="container pt-5 px-6" style="height: 100%;">
      <div class="row text-center">
        <div class="col-1"><h1>RANK</h1></div>
        <div class="col-6"><h1>NAME</h1></div>
        <div class="col"><h1>TIME</h1></div>
        <div class="col"><h1>MOVE</h1></div>
        <div class="col"></div>
        <hr size="10" class="my-0">
      </div>
      <div class="user-score row text-center" :class="[ index==0 || index==1 || index==2? 'bg-white' : '']" v-for="(game, index) in finalList">
        <div :class="[ index==0 || index==1 || index==2? 'first col-1' : 'other col-1']">
          <img v-if="index==0" width="50px" src="../assets/reward.png"/>
          <img v-else-if="index==1" width="50px" src="../assets/reward_silver.png"/>
          <img v-else-if="index==2" width="50px" src="../assets/reward_bronze.png"/>
          <h3 v-else>{{ index + 1 }}</h3>
        </div>
        <div :class="[ index==0 || index==1 || index==2? 'first col-6' : 'other col-6']"><h3>{{ game.displayName }}</h3></div>
        <div :class="[ index==0 || index==1 || index==2? 'first col' : 'other col']"><h3>{{ game.timeScore }}</h3></div>
        <div :class="[ index==0 || index==1 || index==2? 'first col' : 'other col']"><h3>{{ game.moveScore }}</h3></div>
        <div :class="[ index==0 || index==1 || index==2? 'first col' : 'other col']"></div>
        <hr size="5">
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/dashboard.js"></script>
</body>

</html>